In [1]:
import pytest
import pandas as pd
from algo_trading.position_handler import OperationHandler, OrderType, PositionStatus, OrderStatus

In [2]:
handler = OperationHandler(initial_balance=10000)

In [3]:
# Verifica se a parte fechada foi registrada no histórico
closed_positions = handler.get_closed_positions()

In [ ]:
handler.reset()

In [ ]:
handler.create_order(OrderType.BUY, price=100, quantity=10, sl=95, tp=110)
handler._execute_order(handler.pending_orders[0])

position = handler.positions[0]
handler.close_position(price=105, quantity=3, reason="Partial close", position=position)
handler.close_position(price=107, quantity=2, reason="Another partial close", position=position)

In [ ]:
handler.get_closed_positions()

In [ ]:
class A:
    def x(self):
        pass

a: "A" = 1
a.x

In [11]:
import yfinance as yf
dat = yf.Ticker("EURUSD")

In [ ]:
dat.info

In [ ]:
yf.Ticker("EURUSD=X").history(period="max")

In [ ]:
x.info

In [ ]:
class Validator:
    _validated = False

    @staticmethod
    def validate():
        if not Validator._validated:
            print("Running validation...")
            Validator._validated = True  # Faz a validação
        return Validator._validated

def A():
    if Validator.validate():
        print("Function A called")
        B()

def B():
    if Validator.validate():
        print("Function B called")
        C()

def C():
    if Validator.validate():
        print("Function C called")

# Exemplo de chamada
A()

In [ ]:
import MetaTrader5 as mt5
from datetime import datetime
import pytz
MetaTrader5

In [ ]:
mt5.SymbolInfo

In [ ]:
datetime.utcfromtimestamp(1672531200).replace(tzinfo=pytz.UTC)

In [ ]:
2**64

In [ ]:
import os

def count_characters_in_directory(directory_path):
    total_characters = 0

    for root, _, files in os.walk(directory_path):
        for file in files:
            file_path = os.path.join(root, file)
            try:
                with open(file_path, 'r', encoding='utf-8') as f:
                    content = f.read()
                    total_characters += len(content)
            except (UnicodeDecodeError, FileNotFoundError):
                # Ignorar arquivos não legíveis ou inexistentes
                print(f"Warning: Could not read file {file_path}")
    
    return total_characters

if __name__ == "__main__":
    total = count_characters_in_directory("..")
total

In [1]:
import MetaTrader5 as mt5
from algo_trading.sources.MetaTrader5_source.account.account import Account
from algo_trading.sources.MetaTrader5_source.rates.rates import Rates
from algo_trading.sources.MetaTrader5_source.models.metatrader import MqlAccountInfo, ENUM_TIMEFRAME

In [2]:
x = Account()
x.login_live(login=10005257976, password="-a1qGwUt", server="MetaQuotes-Demo")

2025-01-02 13:45:18,937 - INFO - Successfully logged in to live account #10005257976

2025-01-02 13:45:18,958 - INFO - Live account data successfully updated.

MqlAccountInfo(login=10005257976, trade_mode=<ENUM_ACCOUNT_TRADE_MODE.ACCOUNT_TRADE_MODE_DEMO: 0>, leverage=100, limit_orders=200, margin_so_mode=<ENUM_ACCOUNT_STOPOUT_MODE.ACCOUNT_STOPOUT_MODE_PERCENT: 0>, trade_allowed=True, trade_expert=True, margin_mode=<ENUM_ACCOUNT_MARGIN_MODE.ACCOUNT_MARGIN_MODE_RETAIL_HEDGING: 2>, currency_digits=2, fifo_close=False, balance=100000.0, credit=0.0, profit=0.0, equity=100000.0, margin=0.0, margin_free=100000.0, margin_level=0.0, margin_so_call=50.0, margin_so_so=30.0, margin_initial=0.0, margin_maintenance=0.0, assets=0.0, liabilities=0.0, commission_blocked=0.0, name='Pedro Bento', server='MetaQuotes-Demo', currency='USD', company='MetaQuotes Ltd.', orders=[], positions=[], history_deals=[MqlTradeDeal(ticket=150429081042, order=0, time=datetime.datetime(2025, 1, 2, 15, 9, 19, tzinfo=datetime.timezone.utc), time_msc=datetime.datetime(2025, 1, 2, 15, 9, 19, 925000, tzinfo=datetime.timezone.utc), type=<ENUM_DEAL_TYPE.DEAL_TYPE_BALANCE: 2>, entry=<ENUM_DEAL_ENTRY.DEAL_ENTRY_IN: 0>, magic=0, position_id=0, reason=<ENUM_DEAL_REASON.DEAL_REASON_CLIENT: 0>, volume=0.0, price=0.0, commission=0.0, swap=0.0, profit=100000.0, fee=0.0, symbol='', comment='', external_id='')], is_backtest_account=False, rates_data=<class 'algo_trading.sources.MetaTrader5_source.rates.rates.Rates'>)

In [3]:
x.live_account_data.rates_data.get_last_n_ticks("EURUSD",  15)

,time,bid,ask,time_msc
0,2025-01-02 16:45:19+00:00,1.03116,1.03120,2025-01-02 16:45:19.365000+00:00
1,2025-01-02 16:45:19+00:00,1.03115,1.03120,2025-01-02 16:45:19.850000+00:00
2,2025-01-02 16:45:21+00:00,1.03115,1.03119,2025-01-02 16:45:21.052000+00:00
3,2025-01-02 16:45:22+00:00,1.03113,1.03117,2025-01-02 16:45:22.750000+00:00
4,2025-01-02 16:45:23+00:00,1.03113,1.03118,2025-01-02 16:45:23.250000+00:00
5,2025-01-02 16:45:23+00:00,1.03114,1.03118,2025-01-02 16:45:23.956000+00:00
6,2025-01-02 16:45:25+00:00,1.03115,1.03120,2025-01-02 16:45:25.159000+00:00
7,2025-01-02 16:45:25+00:00,1.03116,1.03120,2025-01-02 16:45:25.955000+00:00
8,2025-01-02 16:45:26+00:00,1.03114,1.03119,2025-01-02 16:45:26.455000+00:00
9,2025-01-02 16:45:29+00:00,1.03107,1.03112,2025-01-02 16:45:29.672000+00:00
10,2025-01-02 16:45:30+00:00,1.03106,1.03111,2025-01-02 16:45:30.169000+00:00
11,2025-01-02 16:45:32+00:00,1.03103,1.03108,2025-01-02 16:45:32.066000+00:00
12,2025-01-02 16:45:32+00:00,1.03105,1.03109,2025-01-02 16:45:32.568000+00:00
13,2025-01-02 16:45:33+00:00,1.03104,1.03109,2025-01-02 16:45:33.269000+00:00
14,2025-01-02 16:45:34+00:00,1.03105,1.03110,2025-01-02 16:45:34.875000+00:00

In [11]:


import pytz
from datetime import datetime
import pandas as pd
timezone = pytz.timezone("Etc/UTC")

pd.DataFrame(mt5.copy_ticks_from("EURUSD", pd.to_datetime(1635300134838, unit="ms", utc=True),5,mt5.TICK_FLAG_LAST))

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,1661904006,1.00122,1.00147,0.0,0,1661904006223,134,0.0
1,1661904006,1.00116,1.00161,0.0,0,1661904006230,134,0.0
2,1661904007,1.00116,1.00162,0.0,0,1661904007846,4,0.0
3,1661904009,1.00116,1.00161,0.0,0,1661904009711,4,0.0
4,1661904010,1.00121,1.00161,0.0,0,1661904010094,130,0.0

In [48]:
type(mt5.copy_ticks_from("EURUSD", datetime(2024, 12, 31, tzinfo=timezone),5,mt5.COPY_TICKS_INFO)[0])

numpy.void

In [45]:
mt5.TICK_FLAG_SELL + mt5.TICK_FLAG_BUY + mt5.TICK_FLAG_VOLUME + mt5.TICK_FLAG_LAST + mt5.TICK_FLAG_ASK + mt5.TICK_FLAG_BID

118

In [12]:
pd.to_datetime(1661904006223, unit="ms", utc=True)

Timestamp('2022-08-31 00:00:06.223000+0000', tz='UTC')